<% if logged_in? %> <!-- This is an (unlikely) edge case. -->
  <h2>Edit your recipe here, Chef <%= current_user.username %>!</h2>

  <% if !flash[:validations].blank? %>
    <p><strong>Errors:</strong></p>
    <ol>
      <% flash[:validations].each do |validation_error| %>
        <li><%= validation_error %></li>
      <% end %>
    </ol>
    <br />
  <% end %>

  <form method="post" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" id="hidden" name="_method" value="patch" />
    <p>
      <label for="recipe_name">Name: </label>
      <input type="text" id="recipe_name" name="recipe[name]" value="<%= @recipe.name %>" required />
    </p>
    <p>
      <label for="image_url">Image URL: </label>
      <input type="url" id="image_url" name="recipe[image_url]" size="50" value="<%= @recipe.image_url %>" /><br />
      <strong>Note:</strong> 
      To add a URL here, first upload a photo or image (legally, please!) to your favorite photo hosting website. 
      Then, copy and paste your photo's URL here (but PLEASE make sure that you're obeying their Terms of Use first).

      <!-- I could do this, but then I would lose the URL validation: -->
      <!-- <textarea id="image_url" name="recipe[image_url]"><%#= @recipe.image_url %></textarea> -->
    </p>
    <p>
      <label for="serving_size">Serving Size: </label>
      <input type="text", id="serving_size" name="recipe[serving_size]" size="10" value="<%= @recipe.serving_size %>" />
      
      <label for="servings">Servings: </label>
      <input type="text" id="servings" name="recipe[servings]" size="1" value="<%= @recipe.servings %>"/>
    </p>
    <p>
      <label for="description">Description: </label>
      <input type="text" id="description" name="recipe[description]" size="50" value="<%= @recipe.description %>" />
    </p>
    <p>
      <strong>Edit and/or create new Ingredients here:</strong><br />
      <ol>
        <!-- Create 5 ingredient list items. -->
        <!-- My one objection to this, is that it makes up to 5 calls to the database's ingredients table. -->
        
        <% num = 1 %> <!-- This number will be displayed for each ingredient, then incremented. It will especially help with blank ingredient fields. -->

        <% @recipe.recipe_ingredients.each do |rec_ingr| %>
          <li>
            Ingredient <%= num %><br />
            <label for="ingredient_<%= num %>_amount">Amount: </label>
            <input type="text" id="ingredient_<%= num %>_amount" name="ingredients[][amount]" size="10" value="<%= rec_ingr.ingredient_amount %>" />
            
            <label for="ingredient_<%= num %>_brand_name">Brand: </label>
            <input type="text" id="ingredient_<%= num %>_brand_name" name="ingredients[][brand_name]" size="10" value="<%= rec_ingr.brand_name %>" />
          
            <label for="ingredient_<%= num %>_name">Name: </label>
            <input list="ingredient-names" id="ingredient_<%= num %>_name" name="ingredients[][name]" size="30" value="<%= rec_ingr.ingredient.name %>" <%= "required" if num == 1 %> />

            <datalist id="ingredient-names">
              <% @all_ingredients.sort_by{|ingredient| ingredient.name}.each do |ingredient| %>
                <option value="<%= ingredient.name %>">
              <% end %>
            </datalist>          
          </li>
          <br />

          <% num += 1 %>
        <% end %> <!-- End of "@recipe.recipe_ingredients.each" -->

        <% (num..5).each do |n| %> <!-- This adds blank Ingredient inputs until there are 5 ingredients total. -->
          <!-- This can probably be refactored later. -->

          <li>
            Ingredient <%= n %><br />
            <label for="ingredient_<%= n %>_amount">Amount: </label>
            <input type="text" id="ingredient_<%= n %>_amount" name="ingredients[][amount]" size="10" />
            
            <label for="ingredient_<%= n %>_brand_name">Brand: </label>
            <input type="text" id="ingredient_<%= n %>_brand_name" name="ingredients[][brand_name]" size="10" />
          
            <label for="ingredient_<%= n %>_name">Name: </label>
            <input list="ingredient-names" id="ingredient_<%= n %>_name" name="ingredients[][name]" size="30" placeholder="Choose a name or write your own." />

            <datalist id="ingredient-names">
              <% @all_ingredients.sort_by{|ingredient| ingredient.name}.each do |ingredient| %>
                <option value="<%= ingredient.name %>">
              <% end %>
            </datalist>          
          </li>
          <br />
        <% end %> <!-- End of "(num..5).each" -->
      </ol>
    </p> <!-- End of Ingredients -->

    <input type="submit" value="Submit Changes" />
  </form>

<% else %> <!-- This is an edge case, as mentioned above. -->
  <h2>You are not logged in. <a href="/users/login">Click here to go to the login page.</a></h2>
<% end %>