<h2>Here are all of the recipes! Click on a recipe to view more information about it.</h2>

<% if flash[:error] %>
  <p class="error-message"><%= flash[:error] %></p>
<% elsif flash[:success] %>
  <p class="success-message"><%= flash[:success] %></p>
<% end %>

<p>
  <a href="/recipes/new"><button>New Recipe</button></a>
</p>
<!-- This alternative technically works, but it goes against convention:
  <form method="get" action="/recipes/new">
    <input type="submit" value="New Recipe">
  </form>
-->

<% if @recipes.empty? %>
  <br /><strong>No recipes yet. Please feel free to make a new one, Chef <%= current_user.username %>!</strong>
<% else %>
  <ol>
    <% @recipes.each do |recipe| %>
      <p>
        <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>, posted by <a href="/users/<%= recipe.user.username %>"><%= recipe.user.username %></a></li>
      </p>
    <% end %>
  </ol>
<% end %> <!-- End of "if @recipes.empty?" -->