<% if logged_in? %> <!-- This is an edge case. -->
  <h2>Here are all the recipes! Click on a recipe to view more information about it.</h2>

  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% elsif flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>

  <p>
    <a href="/recipes/new"><button>New Recipe</button></a>
  </p>
  <!-- This alternative technically works, but it goes against convention:
    <form method="get" action="/recipes/new">
      <input type="submit" value="New Recipe">
    </form>
  -->

  <% if Recipe.all.empty? %>
    <br /><strong>No recipes yet. Please feel free to make a new one, Chef <%= current_user.username %>!</strong>
  <% else %>
    <ol> 
      <!-- The following Ruby syntax sorts the recipes, first by name, then by username. -->
      <% @recipes.sort_by{|recipe| [recipe.name.downcase, recipe.user.username.downcase]}.each do |recipe| %>
        <p>
          <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>, posted by <a href="/users/<%= recipe.user.username %>"><%= recipe.user.username %></a></li>
        </p>
      <% end %>
    </ol>
  <% end %> <!-- End of "if Recipe.all.empty?" -->
<% else %>
  <h2>Oops! You are not logged in! <a href="/users/login">Click here to log in.</a></h2>
<% end %> <!-- End of "if logged_in?" -->