<% if @recipe %>
  <h2><%= @recipe.name if @recipe.name %></h2>

  <% if @recipe.user && @recipe.user.username %>
    <p>Posted by: <%= @recipe.user.username %></p>
  <% end %>

  <% if @recipe.image_url %>
    <p><img src="<%= @recipe.image_url %>" alt="<%= @recipe.name %>" /></p>
  <% end %>

  <% if @recipe.serving_size %>
    Serving Size: <%= @recipe.serving_size %><br />
  <% end %>
  <% if @recipe.servings %>
    Servings: <%= @recipe.servings %><br /><br />
  <% end %>

  <% if @recipe.description %>
    <p>Description: <%= @recipe.description %></p>
  <% end %>

  <% unless @recipe.ingredients.empty? %>
    <h3>Ingredients:</h3>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.quantity if ingredient.quantity %>
          <%= ingredient.units if ingredient.units %>
          <%= ingredient.name if ingredient.name %>
        </li>
      <% end %> <!-- end of @recipe.ingredients iterator -->
      <% if @recipe.additional_ingredients %>
        <% @recipe.additional_ingredients.split(", ").each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      <% end %> <!-- end of @recipe.additional_ingredients iterator -->
    </ul>
  <% end %> <!-- end of #unless -->
  <br />

  <% if @recipe.instructions %>
    <h3>Instructions:</h3>
    <p><%= @recipe.instructions %></p>
  <% end %>

  <% if @recipe.notes %>
    <p><strong>Notes:</strong> <%= @recipe.notes %></p>
  <% end %>

  <h5>
    <%= @recipe.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p.") if @recipe.created_at %>
    <%= @recipe.updated_at.strftime("Updated on %m/%d/%Y at %I:%M%p.") if @recipe.updated_at %>
  </h5>
<% else %> <!-- This is connected with "if @recipe" at the top. -->
  <h3>Uh-Oh! This recipe doesn't exist. Click <a href="/recipes">here</a> to go back to the recipes.</h3>
<% end %> <!-- end of "if @recipe" -->