<h2><%= @recipe.name %></h2>

<% if !flash[:error].blank? %>
  <p><%= flash[:error] %></p>
<% elsif !flash[:success].blank? %>
  <p><%= flash[:success] %></p>
<% end %>

<% if @recipe.user == current_user %>
  <a href="/recipes/<%= @recipe.id %>/edit"><button>Edit Recipe</button></a>
  <form method="post" action="/recipes/<%= @recipe.id %>" style="display:inline">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe" />
  </form>
  <br /><br />
  <!-- I tried to put the <a> and <form> tags inside of a <p> tag, but that didn't work, for some reason. -->
<% end %>

<p>Posted by: <a href="/users/<%= @recipe.user.username %>"><%= @recipe.user.username %></a></p>

<% unless @recipe.image_url.blank? %>
  <p><img src="<%= @recipe.image_url %>" alt="<%= @recipe.name %>" /></p>
<% end %>

<% unless @recipe.serving_size.blank? %>
  Serving Size: <%= @recipe.serving_size %><br />
<% end %>
<% unless @recipe.servings.blank? %>
  Servings: <%= @recipe.servings %><br /><br />
<% end %>

<% unless @recipe.description.blank? %>
  <p>Description: <%= @recipe.description %></p>
<% end %>

<h3>Ingredients:</h3>
<ul>
  <% @recipe.recipe_ingredients.each do |recip_ingred| %>
    <li>      
      <%= recip_ingred.ingredient_amount unless recip_ingred.ingredient_amount.blank? %>
      <%= recip_ingred.brand_name unless recip_ingred.brand_name.blank? %>
      <%= recip_ingred.ingredient.name %>
    </li>
  <% end %> <!-- end of @recipe.recipe_ingredients iterator -->

  <% unless @recipe.additional_ingredients.blank? %>
    <% @recipe.additional_ingredients.split(", ").each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  <% end %> <!-- end of @recipe.additional_ingredients iterator -->
</ul>
<br />

<h3>Instructions:</h3>
<p><%= @recipe.instructions %></p>

<% unless @recipe.notes.blank? %>
  <p><strong>Notes:</strong> <%= @recipe.notes %></p>
<% end %>

<% if @recipe.created_at && @recipe.updated_at %> <!-- Edge case -->
  <h5>
    <%= @recipe.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p.") %>
    <%= @recipe.updated_at.strftime("Updated on %m/%d/%Y at %I:%M%p.") %>
  </h5>
<% end %>