<% if @user == current_user %>
  <h2>Welcome to your kitchen, Chef <%= @user.username %>!</h2>
  
  <% if !flash[:error].blank? %>
    <p class="error-message"><%= flash[:error] %></p>
  <% elsif !flash[:success].blank? %>
    <p class="success-message"><%= flash[:success] %></p>
  <% end %>

  <!-- Be careful with this; the first time I started this up and logged in, it said that I was NOT logged in. -->
  <!-- Somehow, the flash[:login] message got carried over from the "get '/'" route. -->
  <!-- That may have been an edge case, since it worked fine after I logged out and signed in as another user. -->
  <!-- UPDATE: This should no longer be the case, now that there is a new flash message for signing in. -->

  <p>
    Username: <%= @user.username %><br />
    E-mail: <%= @user.email %>
  </p>
<% else %> <!-- @user is not the current_user -->
  <h2>Chef <%= @user.username %>'s kitchen</h2>
<% end %>

<p>
  <% if @user == current_user %>
  <strong>Your recipes:</strong>
  <% else %>
  <strong>Recipes:</strong>
  <% end %>

  <% if @user.recipes.empty? %>
    <strong>No recipes yet</strong>
  <% else %> <!-- Display @user's recipes and link to each recipe's page. -->
    <ol>
      <% @user_recipes.each do |recipe| %>
        <p><li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li></p>
      <% end %>
    </ol>
  <% end %>
</p>
